<!DOCTYPE html>
<html> 
<head>
		<meta charset="utf-8" />
        <title>Accueil</title>
        <link type="text/css" rel="stylesheet" href="../resources/css/style.css" />
</head>
<body>
<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
	 		<a href="../views/index.jsp">Accueil</a>
			<a href="../views/application.html">Applications</a>
			<a href="#contact">Contact</a>
			<a href="https://www.devoteam.com">Devoteam.com</a>
</div>
</div>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu DevoApp</span>

<script>
function openNav() {
    document.getElementById("myNav").style.width = "100%";
}

function closeNav() {
    document.getElementById("myNav").style.width = "0%";
}
</script>
<div class="body-app">
  <div class="row">
	  <div class="column">
		  	<div class="content">
			  	<a href="https://www.devoteam.com" target=_blank>
			  		<img src="../resources/gfx/devo.png" alt="HTML tutorial" style="width:100%">
				</a>
				<h3>Devoteam.com</h3>
			      <p>Welcome to the devoteam website</p>
			</div>
	  </div>
	  <div class="column">
		    <div class="content">
			  	<a href="https://hive.devoteam.com/intranet/" target=_blank>
			  		<img src="../resources/gfx/hive.png" alt="HTML tutorial" style="width:100%">
				</a>
				<h3>HIVE</h3>
			      <p>The Social and Smart Intranet</p>
		    </div>
	  </div>
	  <div class="column">
			    <div class="content">
			  	<a href="http://appdevoteam-appdevoteam.192.168.99.100.nip.io" target=_blank>
			  		<img src="../resources/gfx/mydevo.png" alt="HTML tutorial" style="width:100%">
				</a>
				<h3>My DEVOTEAM</h3>
			      <p>Application Devoteam</p>
		</div>
	  </div>
  </div>
	<div class="row">
		<div class="column">
		    <div class="content">
			  	<a href="http://myphp-appdevoteam.192.168.99.100.nip.io/" target=_blank>
			  		<img src="../resources/gfx/vm.png" alt="HTML tutorial" style="width:100%">
				</a>
				<h3>VM</h3>
     		    <p>Création de machine virtuel</p>
			</div>
	   </div> 
	   <div class="column">
		    <div class="content">
			  	<a href="https://jenkins-appdevoteam.192.168.99.100.nip.io/" target=_blank>
			  		<img src="../resources/gfx/devops.png" alt="HTML tutorial" style="width:100%">
				</a>
				<h3>DevOps</h3>
      			<p>Outils DevOps pour projet de developpment</p>
			</div>
 	  </div>
 	   <div class="column">
		    <div class="content">
			  	<a href="laboratory.jsp">
			  		<img src="../resources/gfx/Labs.png" alt="HTML tutorial" style="width:100%">
				</a>
				<h3>Labs</h3>
      			<p>Lab's Devoteam</p>
			</div>
 	  </div>
	</div> 
</div>
</body>
</html>
